.button-containerType,
.button-containerAdopted {
  display: flex;
  /* border: 1px solid rgb(0 0 0 / 11%); */
  /* margin: 20px; */
  padding: 10px;
  align-items: center;
}

.filterButton {
  margin: 5px;
  color: rgb(18 18 18 / 72%);
  font-size: 16px;
}

.active{
  border: 1px solid gray;
}
